html {
    background-color: #00539f;
}

body {
    width: 600px;   /*强制页面内容永远保持600像素宽*/
    margin: 20px auto; /*第一个值影响上下方向，第二个值影响左右方向*/
    background-color: #FF9500;
    padding: 0 20px 20px 20px; /*上、右、下、左*/
    border: 5px solid black;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 5px black; /*阴影水平偏移量，阴影垂直偏移量，模糊半径，阴影基色*/
}

img {
    display: block;
    margin: 0 auto;
}

#dyz {
    width: 50px;
    margin: 20px auto;
}
